# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de compilación
*.apk
*.ap_
*.dex
*.class
*.so
*.jar
*.war
*.ear

# Archivos de caché de Android Studio
.gradle/
.build/
captures/

# Archivos de configuración
.idea/
local.properties
*.iml
out/
.vscode/

# Dependencias descargadas
/.cxx/
.externalNativeBuild/
.caches/

# Archivos de registro
*.log

# Archivos del NDK
obj/

# Archivos generados
/build/

# Configuración específica de Jetpack Compose
.compose/

# Configuración específica de Kotlin
*.kotlin_module

# Archivos relacionados con pruebas
*.test

# Configuración del entorno
.env

# Archivos personales o temporales
*.swp
*.temp
*.tmp
